<!--Navbar Component -->
{{define "navbar-componet"}}
<section>
  <div>
    <img src="/assets/images/logo.webp" alt="app logo" width="50" height="50" />
  </div>
  <div>
    <a href="/#about">About</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login/Sign up</a>
  </div>
</section>
{{end}}

<!-- Login Component -->
{{define "login-component"}}
<section>
  <template x-if="signup"> {{template "signup" .}} </template>
  <template x-if="login"> {{template "login" .}} </template>
</section>
{{end}}

<!-- signup -->
{{define "signup"}}
<div>
  <form action="/signup" method="post">
    <input type="text" name="first_name" placeholder="Enter your name" />
    <input
      type="text"
      name="username"
      placeholder="Enter your username or email"
    />
    <input type="password" name="password" placeholder="password" />
    <input type="password" name="confirm_password" placeholder="password" />
    <button type="submit">Sign up</button>
  </form>
  <span>or</span>
  <button type="button">Google login</button>
</div>
{{end}}

<!-- login -->
{{define "login"}}
<div>
  <form action="/login" method="post">
    <input
      type="text"
      name="username"
      placeholder="Enter your username or email"
    />
    <input type="password" name="password" placeholder="password" />
  </form>
  <button type="button">Google login</button>
</div>
{{end}}
