{{define "title"}}About{{end}} {{define "content"}}
<h1>About</h1>
<p>
  Consectetur perferendis veritatis facere cupiditate facere fugiat Modi fugiat
  rem illum est earum culpa Consectetur ea non optio doloribus delectus
  molestias, exercitationem possimus Maxime delectus similique ea libero hic
  AmetLorem iure exercitationem ratione nesciunt modi nisi dolorum Veniam
  cupiditate accusamus voluptas obcaecati dolorum, possimus! Odio ea libero
  ipsam delectus minima, dignissimos magnam Iusto asperiores adipisci porro
  doloremque pariatur, dolore?Adipisicing veritatis quo asperiores assumenda
  odit! Quo sequi natus expedita porro iure Non explicabo voluptatum aliquid
  repellendus incidunt quae Tenetur itaque reprehenderit quisquam saepe
  veritatis? Ratione enim porro quibusdam hic
</p>
{{end}}
